@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  outline: none;
  list-style: none;
  scroll-behavior: smooth;
  color: var(--default-color);
}
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
:root {
  /* colors */
  --default-color: #495057;
  --bright-blue: #edf2ff;
  --dark-blue: #4c6ef5;
  --border-blue: #bac8ff;
  --white: #fff;
  --red: #fa5252;
  --bright-red: #ffa8a8;
}
